
/* These are styles that I've added
Colors:
Dark Blue: #2F6D9B
light blue: #AAD8FF
Carolina blue: #4DB3FF
medium dark carolina: #3D90CC
Grayish color:#4D6A7F*

@font-face {
	font-family: Caviar Dreams;
	src:url(../fonts/caviar_dreams/Caviar_Dreams_Bold.ttf);
h1 {
    font-family: "Caviar_Dreams_Bold";
}
*/


body {
    background-image: url("images/furley_bg.png");
    background-image: url("images/pinstripe.png")
}



div.container_base {
    width: 90%;
    background-color: #C5E3FF;
    opacity: .90;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    text-align: left;
}

img {
    float: right;
}

div.home_header {
    width: 100%;
    color: white;
    background-image: url("images/franklin.jpg");
    opacity: .90;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    text-align: center;
}

/*div.container-responsive {
   position: relative; 
   }
div.responsive-container iframe {
    width: 100%;
    height: 100%;
    }
td.video {
    height: 100%;
    width: 100%;
}
*/

container.baseball {
    width: 30%;
    
}

h1.home_header {
    font-style: oblique;
    font: Verdana;
    font-size: 80pt;
}

div.roster_header {
    padding-top: 8%;
    padding-bottom: 8%;
    background-opacity: .80;
}



/*style for detail*/

h1.player_list {
    text-align: center;
    color: white;
    font-size: 53pt;
}

h4.player_list {
    text-align: center;
    color: #AAD8FF;
}


figure.floatright {
    float: right;
    clear: right;
    border: .75px solid #4D6A7F;

}

img.floatleft {
    margin: 5px;
    border-bottom: 2px solid #4D6A7F;
    border-right: 2px solid #4D6A7F;
    border-top: 2px solid #AAD8FF;
    border-left: 2px solid #AAD8FF;
    float: left;
    clear: left;
    margin-right: 20px;

}

img.floatacross {
    margin: 5px;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 3px 3px 3px #7C7C7C;
    box-shadow: 3px 3px 3px #7C7C7C;
    float: left;
}

figcaption {
    font-style: oblique;
}


p {
    clear: both;
}

/*style for tables*/

table.sports_table {
    text-align: left;
    padding: 1%;
    border-collapse: collapse;
    position: relative;
    clear: both;
}

table.sports_table a {
    text-align: left;
    padding: 1%;
    color: #4D6A7F;
}

table.sports_table td{
    padding: 2%;
    margin: 2%;
    border-top: 1px solid gray;
}

table.sports_table th{
    padding: 1%;
}

container.player_list th {
    padding: 1%;
    text-align: center;
    font-size: 10pt;
    font-weight: 120;
    padding-top: 3%;
}


container.player_list td {
    padding: 1%;
    text-align: center;
    font-size: 10pt;
    border-top: 1px solid gray;
}

img.roster {
    height: 30%;
    position: relative;
}

div.player_spotlight {
    backgorund-color: #2F6D9B;
}



h2.detail {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
ul.detail {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li.detail {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li.detail:last-child {
  border: none;
}
 
li.detail a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li.detail a:hover {
  font-size: 30px;
  background: #f6f6f6;
}