
/* These are styles that I've added
Colors:
Dark Blue: #2F6D9B
light blue: #AAD8FF
Carolina blue: #4DB3FF
medium dark carolina: #3D90CC
Grayish color:#4D6A7F
*/

body {
    background-image: url("images/gray-pattern.png");
}

div.container_base {
    width: 90%;
    background-color: #AAD8FF;
    opacity: .90;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    text-align: left;
}

img {
    float: right;
}

div.home_header {
    width: 100%;
    color: white;
    background-color: #4D6A7F;
    opacity: .90;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    text-align: center;
}

container.baseball {
    width: 30%;
    
}

h1.home_header {
    font-style: italic;
    font-size: 90pt;
}

/*style for detail*/

h1.player_list {
    text-align: center;
}


figure.floatright {
    float: right;
    clear: right;
    border: .75px solid #4D6A7F;

}

img.floatleft {
    margin: 5px;
    border-bottom: 2px solid #4D6A7F;
    border-right: 2px solid #4D6A7F;
    border-top: 2px solid #AAD8FF;
    border-left: 2px solid #AAD8FF;
    float: left;
    clear: left;
    margin-right: 20px;

}

img.floatacross {
    margin: 5px;
    border-bottom: 1px solid black;
    float: left;
}

figcaption {
    font-style: oblique;
}


/*style for detail*/

p {
    clear: both;
}

/*style for tables*/

container.player_list th {
    padding: 1%;
    text-align: center;
    font-size: 10pt;
    font-weight: 120;
}


container.player_list td {
    padding: 1%;
    text-align: center;
    font-size: 10pt;
}
