<!-- new file: roster/templates/roster/detail.html -->


{% extends "base.html" %}

{% block content %}
<h2> Player: {{ Player.name }}</h2>

<div class="row">

<div class="col-md-6">
    <p><a href="/players">Baseball Team</a></p>
    <p> Details</p>
    <ul>
        <li>Number: {{ player.number }} </li>
        <li>Name: {{ player.name }}</li>
        <li>Story: {{ player.story }}</li>
        <li><img src="{{ player.imgurl }}"></li>
        
        <div id="action_img">
        <img src="{{ player.action }}">
        </div>
    </ul>
</div>

</div>

{% endblock %}