 
  {% extends "base.html"%}
  {% load humanize %}
  {% block css %}

  {% endblock %}
  
  
    {% block content %}
       {{message}}
           
        <head>
        <script src="js/jquery.js"></script>
        <script src="js/tabletop.js"></script>
        <script src="js/newsquiz.min.js"></script>
        
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
        <link href="css/style.css" rel="stylesheet" media="screen">
        </head>

        <h1>Welcome to UNC Athletic's Official website</h1>
       
        <p>On this site you can find team social media feeds, sports multimedia, polls, and much more!</p>
       
       <div class="col-md-8"> 
        <td class="video">
            <iframe src="//player.vimeo.com/video/85091524?title=0&amp;byline=0&amp;portrait=0" width="100%" height="450px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </td>
        </div>
       
       
        <div class="col-md-4">
        <h4>Explore UNC Athletics</h4>
        <table class="sports_table">
        <thead>
        <tr>
            <th>Men's Teams</th>
            <th>Women's Teams</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="players/">Baseball</a></td><td><a href="#">Gymnastics</a></td>
        </tr>
         <tr>
            <td><a href="#">Basketball</a></td><td><a href="#">Basketball</a></td>
        </tr>
         <tr>
            <td><a href="#">Cross Country</a></td><td><a href="#">Cross Country</a></td>
        </tr>
         <tr>
            <td><a href="#">Fencing</a></td><td><a href="#">Fencing</a></td>
        </tr>
         <tr>
            <td><a href="#">Football</a></td><td><a href="#">Field Hockey</a></td>
        </tr>
         <tr>
            <td><a href="#">Golf</a></td><td><a href="#">Golf</a></td>
        </tr>
         <tr>
            <td><a href="#">Lacrosse</a></td><td><a href="#">Lacrosse</a></td>
        </tr>
         <tr>
            <td><a href="#">Soccer</a></td><td><a href="#">Soccer</a></td>
        </tr>
         <tr>
            <td><a href="#">Swimming</a></td><td><a href="#">Swimming</a></td>
        </tr>
         <tr>
            <td><a href="#">Diving</a></td><td><a href="#">Diving</a></td>
        </tr>
         <tr>
            <td><a href="#">Tennis</a></td><td><a href="#">Tennis</a></td>
        </tr>
         <tr>
            <td><a href="#">Wrestling</a></td><td><a href="#">Softball</a></td>
        </tr>
         <tr>
            <td><a href="#">Track & Field</a></td><td><a href="#">Rowing</a></td>
        </tr>
         <tr>
            <td><a href="#"></a></td><td><a href="#">Track & Field</a></td>
        </tr>
         <tr>
            <td><a href="#"></a></td><td><a href="#">Volleyball</a></td>
        </tr>
    </tbody>
    </table>
        </div> <!--end of sports table-->
        
        
        
    <a class="twitter-timeline" href="https://twitter.com/DiamondHeels" data-widget-id="439406181010784256">Tweets by @DiamondHeels</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div>
        
  

    <body>
        
            
        
        
        
        
    
  {% endblock %}
    
    
