 
  {% extends "base.html"%}
  {% load humanize %}
  {% block css %}

  {% endblock %}
  
  
    {% block content %}
       {{message}}
           
 
        <h1>Welcome to the UNC Athletic's unofficial website</h1>
        <p><a href="players/">Baseball Team</a></p>
        <p>On this site you can find team social media feeds, sports multimedia, polls, and much more!</p>
        <p>STATS ON STATS ON STATS</p>
        <p>This information is updated as of {% now "l" %}</p>
    
    
  {% endblock %}
    
    
