<!-- new file: roster/templates/roster/player_list.html -->

{% extends "base.html" %}

{% block content %}
    <h2>All Players</h2>

    
    
    <table id="table_id">
    <thead>
        <a href="{{ player.id }}">{{ player.name }}</a>
        <tr>
            <th>Player Name</th>
            <th>Jersey Number/th>
            <th>RBI</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        {# Each "player" is a player model object. #}
        <tr>
            <td><a href="{{ player.id }}">{{ player.name }}</a></td>
            <td>{{ player.number }}</td>
            <td>{{ player.rbi }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    
    
    <p><a href="/">Return to UNC Athletics home page</a></p>

<div class="pagination">
    <span class="step-links">
        {% if players.has_previous %}
            <a href="?page={{ players.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ players.number }} of {{ players.paginator.num_pages }}.
        </span>

        {% if players.has_next %}
            <a href="?page={{ players.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
