<!-- new file: roster/templates/roster/player_list.html -->
<head>
 <script>

    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })

    </script>
	</head>
        <body>

    



{% extends "base.html" %}

{% block content %}
    
    
    <div class="roster_header"> <!--Roster Header-->
    <h1 class="player_list">Tar Heel Baseball</h1>
    </div> 
    
    
    <!--Table with players in a container--> 
    <container class="player_list">
        <h3>Roster - 2014</h3>
    <div class="col-md-9">
    <table id="player_list">
    <thead>
        <a href="{{ player.id }}">{{ player.name }}</a>
        <tr>
            <th>Player Name</th>
            <th>Jersey Number</th>
            <th>Dominant Hand</th>
            <th>Position</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Year</th>
            <th>Batting Average</th>
            <th>Runs</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        {# Each "player" is a player model object. #}
        <tr>
            <td><a href="{{ player.id }}">{{ player.name }}</a></td>
            <td>{{ player.number }}</td>
            <td>{{ player.dominant_hand }}</td>
            <td>{{ player.position }}</td>
            <td>{{ player.height }}</td>
            <td>{{ player.weight }}</td>
            <td>{{ player.year }}</td>
            <td>{{ player.batting_avg }}</td>
            <td>{{ player.runs }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
     </container>
    <!--end of table with players in a container-->
    
    <div class="col-md-3">
        <a class="twitter-timeline" href="https://twitter.com/DiamondHeels" data-widget-id="439406181010784256">Tweets by @DiamondHeels</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    
   
    <div class="col-md-12">
    <!----tabs for graphs -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Position and Player Build</a></li>
      <li><a href="#profile" data-toggle="tab">Batting and Slugging Avergaes</a></li>
      <li><a href="#messages" data-toggle="tab">Third Chart</a></li>
      
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        
      </div>
      <div class="tab-pane" id="profile">
         <div id="container_2" style= margin: 0 auto"></div>
        </div>
      </div>
      
      
    </div>
     <!---- end of tabs for graphs -->
    
    
   
   
    

    
    <p><a href="/">Return to UNC Athletics home page</a></p>
    
    
    



    


{% endblock %}
