<!-- new file: roster/templates/roster/player_list.html -->
<head>
 <script>

    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })

    </script>
	</head>
        <body>

    



{% extends "base.html" %}

{% block content %}
    
    
    <img src""images/stadium-header.png"">
        <div class="col-md-9">
         <h3>Baseball Roster - 2014</h3>
         </div>
         <div class="col-md-3>">
         <button>Buy Tickets</button>
         <button>View Schedule</button>
         </div>
    
        <div class="col-md-9">
    <!----tabs for player roster and coaches roster -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#players" data-toggle="tab">Players</a></li>
      <li><a href="#coaches" data-toggle="tab">Coaches</a></li>
     
      
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="players">
        <!--Table with players in a container--> 
            <container class="player_list">
               
            
            <table id="player_list">
            <thead>
                <a href="{{ player.id }}">{{ player.name }}</a>
                <tr>
                    <th>Player Name</th>
                    <th>Jersey Number</th>
                    <th>Dominant Hand</th>
                    <th>Position</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Year</th>
                    <th>Batting Average</th>
                    <th>Runs</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                {# Each "player" is a player model object. #}
                <tr>
                    <td><a href="{{ player.id }}">{{ player.name }}</a></td>
                    <td>{{ player.number }}</td>
                    <td>{{ player.dominant_hand }}</td>
                    <td>{{ player.position }}</td>
                    <td>{{ player.height }}</td>
                    <td>{{ player.weight }}</td>
                    <td>{{ player.year }}</td>
                    <td>{{ player.batting_avg }}</td>
                    <td>{{ player.runs }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            
             </container>
            <!--end of table with players in a container-->
        
      </div>
      <div class="tab-pane" id="coaches">
          <container class="player_list">
               
            
            <table id="player_list">
            <thead>
                <a href="{{ player.id }}">{{ player.name }}</a>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                     <th>Specialty</th>
                     <th>Alma Mater</th>
                     
                 
                </tr>
            </thead>
            <tbody>
            
                <tr>
                   <td>Mike Fox</td>
                    <td>Head Coach</td>
                    <td>All Around</td>
                     <td>UNC-CH</td>
                </tr>
                    <tr>
                   <td>Scott Forbes</td>
                    <td>Associate Head Coach</td>
                     <td>Pitching</td>
                     <td>North Carolina Wesleyan</td>
                </tr>
                     <tr>
                   <td>Scott Jackson</td>
                    <td>Assisstant Coach</td>
                     <td>Recruiting</td>
                     <td>Campbell</td>
                </tr>
                     <tr>
                   <td>Bryant Gaines</td>
                    <td>Assisstant Coach</td>
                     <td>Pitching</td>
                     <td>UNC-CH</td>
                </tr>
                <tr>
                   <td>Dave Arendas</td>
                    <td>Director of Baseball Operations</td>
                     <td>Administration</td>
                     <td>UNC-CH</td>
                </tr>
                     <tr>
                   <td>Mark Fleury</td>
                    <td>Undergraduate Assistant Coach</td>
                     <td>Catching</td>
                     <td>UNC-CH</td>
                </tr>
                      <tr>
                   <td>Josh Horton</td>
                    <td>Undergraduate Assistant Coach</td>
                     <td>Shortstop/Hitting</td>
                     <td>UNC-CH</td>
                </tr>
            </tbody>
            </table>
            
             </container>
        </div>
      </div>
    </div>
        
        
   
    
    <div class="col-md-3">
        <a class="twitter-timeline" href="https://twitter.com/DiamondHeels" data-widget-id="439406181010784256">Tweets by @DiamondHeels</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    
 
 
   
    <div class="col-md-12">
    <!----tabs for graphs -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Position and Player Build</a></li>
      <li><a href="#profile" data-toggle="tab">Batting and Slugging Averages</a></li>
     
      
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        
      </div>
      <div class="tab-pane" id="profile">
         <div id="container_batting" style="min-width: 1020px; height: 400px; margin: 0 auto"></div>
        </div>
      </div>
      
      
    </div>
     <!---- end of tabs for graphs -->
    
    
   
   
    

    
    <p><a href="/">Return to UNC Athletics home page</a></p>
    
    
    



    


{% endblock %}
